.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 1vh;
  z-index: 1;
  box-shadow: 8px 1px 20px 1px rgb(100, 100, 100);
}

.logo-img {
  height: 7vh;
  border-radius: 40px;
}

.header-icon {
  color: rgba(32, 30, 30, 0.781);
}
